button {
    width: 30px;
    height: 30px;
    
}

button[id="b0"]{
    width: 100px;
}

div {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

input{
    width: 100%;
    height: 30px;
}

button [id="b="]{
    width: 100%;
}